/* Default light theme */
:root {
  --color-text: #213547;
  --color-background: #ffffff;
  --color-primary: #f44336;
  --color-modal-text: #213547;
  --color-modal-background: #ffffff;
}

/* Dark theme */
.dark-theme {
  --color-text: #ffffff;
  --color-background: #202020;
  --color-primary: #03dac6;
  --color-modal-text: #ffffff;
  --color-modal-background: #2a2a2a;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background-color: var(--color-background);
}

/* Main container */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

/* Main title */
.app-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  color: var(--color-text);
  animation: slideIn 2s ease;
}

/* Selected post card */
.selected-post-card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  max-width: 8px;
  width: 90%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}

/* Selected post header */
.selected-post-header {
  line-height: normal;
  margin: 0;
  padding: 0;
}

/* Selected post title */
.selected-post-title {
  color: var(--color-primary);
  line-height: normal;
  margin: 5px 0;
}

/* Selected post body */
.selected-post-body {
  line-height: normal;
  margin: 5px 0;
  padding: 0;
}

/* Button for closing the selected post */
.selected-post-button {
  margin-top: 15px;
  background-color: var(--color-primary);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* PostCard component container */
.post-card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  gap: 1rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Colored square with initials */
.post-card-square {
  width: 50px;
  height: 50px;
  background-color: var(--color-primary);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}

/* PostCard content */
.post-card-content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* Post title inside PostCard */
.post-card-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  line-height: normal;
  padding-bottom: 5px;
  color: var(--color-primary);
}

/* Metadata inside PostCard */
.post-card-meta {
  font-size: 0.75rem;
  margin: 0;
  line-height: normal;
}

/* Link style for metadata */
.post-card-meta a {
  color: var(--color-primary);
  text-decoration-line: underline;
}

/* Modal background */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal content */
.modal-content {
  background-color: var(--color-modal-background);
  color: var(--color-modal-text);
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}

/* Close button */
.modal-button {
  margin-top: 1rem;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/*  Tablet Breakpoint (768px) */
@media (max-width: 768px) {
  .post-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .post-card-title {
    font-size: 1.25rem;
  }

  .modal-content {
    max-width: 90%;
  }
}

/* Phone Breakpoint (480px) */
@media (max-width: 480px) {
  .app-container {
    justify-content: center;
  }
  .post-card {
    gap: 0.5rem;
    align-items: center;
  }
  .post-card-content {
    align-items: center;
    padding: 0rem 5rem;
  }

  .post-card-title {
    font-size: 1rem;
  }

  .modal-content {
    padding: 0.5rem;
  }
  .post-card-meta {
    align-items: center;
  }
}

/* Theme Toggle Button */
.theme-toggle-btn {
  align-self: flex-end;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
}

.user-detail-go-back-btn {
  background-color: var(--color-primary);
  color: #fff;
  text-decoration-line: underline;
}

button {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-controls {
  display: flex;
  justify-content: space-between;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
